@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
  box-sizing: border-box;
}

#loader {
  color: red;
  width: 100px;
  height: 100px;
  border-top: 4px solid #ffffff;
  border-left: 4px solid #0363a3;
  border-bottom: 4px solid #ffffff;
  border-right: 4px solid #0363a3;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
.overlay {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #2e2e2ec0;
  position: absolute;
}

@keyframes spin {
  /* 50%{border-top: 4px solid #4e85ff;
    border-bottom: 4px solid #f94eff;
  } */
  100% {
    transform: rotate(360deg);
  }
}

/* /////////////////////////////////////////////////////////////////////////////////////// */

body {
  /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("background/images (30).jpeg"); */
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  font-size: 1em;
  font-family: "Muli", "century gothic";
  margin: 0;
  padding: 0;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  padding: 0 20px 0 20px;
  background: #02001d6c;
}
.header > span {
  font-size: 2em;
}

@media screen and (max-width: 400px) {
  .header > span {
    font-size: 1em;
  }
}
.alert-box {
  display: flex;
  justify-content: center;
  font-size: 1.3em;
  align-items: center;
  width: 100%;
  height: 50px;
  background: #ff3a33e8;
  text-align: center;
  color: #fff;
  visibility: hidden;
  padding: 0;
  transition: 0.3s ease-in-out;
}
alert-box > p {
  margin: 5px;
}

#temperature {
  display: flex;
  font-size: 7em;
  font-weight: 600;
}

@media screen and (max-width: 500px) {
  #temperature {
    display: flex;
    font-size: 5em;
    font-weight: 600;
  }
}
#temperature > #deg,
#temperature > .SmallC {
  margin-top: 20px;
}
.fa-bars,
.fa-search {
  font-size: 2em;
}

.weather-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.group-1-1 {
  display: flex;
  justify-content: center;
  width: 250px;
}

.group-1-2 {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 300px;
  width: 250px;
  padding-bottom: 40px;
}
@media screen and (max-width: 500px) {
  .group-1-2 {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 150px;
    width: 250px;
    /* margin-top: 50px; */
  }
}
#icon {
  width: 300px;
  height: 300px;
  margin-top: -20px;
}
#icon > img {
  margin-top: -20px;
  width: 300px;
  height: 300px;
}
@media screen and (max-width: 500px) {
  #icon {
    width: 150px;
    height: 110px;
    margin-top: 20px;
  }
  #icon > img {
    width: 150px;
    height: 150px;
  }
}
.group-1-3 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  width: 250px;
  height: 50px;
  margin-left: 10px;
}
@media screen and (max-width: 500px) {
  .group-1-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 250px;
    height: 40px;
  }
  .group-1-3 > div {
    padding: 0px 10px;
  }
  .group-1-3 > div:first-of-type {
    border-right: 1px solid grey;
  }
}
.group-1-2-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.current-data-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300px;
  margin-top: 15px;
  border-bottom: 1px solid grey;
}

@media screen and (max-width: 500px) {
  .current-data-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: 300px;
    border-bottom: 1px solid grey;
  }
}

.SmallC {
  font-size: 0.5em;
}
#deg {
  font-size: 0.5em;
}
.temp-description {
  margin-top: -50px;
}

@media screen and (max-width: 500px) {
  .temp-description {
    margin-top: 10px;
  }
}
.group-2 {
  display: flex;
  min-width: 60%;
  justify-content: space-evenly;
  margin-top: 10px;
  height: 130px;
}

@media screen and (max-width: 500px) {
  .group-2 {
    display: flex;
    min-width: 70%;
    justify-content: space-evenly;
    margin-top: 10px;
    height: 120px;

    flex-wrap: wrap;
  }
}
.group-2 > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
  height: 50px;
}
.group-2 > div:nth-child(even) {
  border-right: 1px solid grey;
  border-left: 1px solid grey;
  height: 50px;
}

@media screen and (max-width: 500px) {
  .group-2 > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
  }
}
nav {
  display: flex;
  position: fixed;
  flex-direction: column;
  width: 250px;
  height: 100vh;
  background: #cccccc;
  padding: 10px 5px 50px 0;
  margin-top: -120px;
  transition: transform 0.4s ease-in-out;
  transform: translateX(-100%);
}

h1 {
  font-size: 1em;
  font-weight: 0;
  margin-left: 20px;
  font-weight: normal;
}
hr {
  color: grey;
  width: 100%;
  margin-top: -10px;
}

.unit-1,
.unit-1-2,
.bg-gp-3-1,
.bg-gp-3-2,
.time-gp-2-1,
.time-gp-2-2 {
  display: flex;
  justify-content: space-between;
}
.unit-1:hover,
.unit-1-2:hover,
.bg-gp-3-1:hover,
.dev-gp-1:hover,
.dev-gp-2:hover,
.time-gp-2-1:hover,
.time-gp-2-2:hover {
  background: rgba(128, 128, 128, 0.13);
  cursor: pointer;
}
label {
  margin-left: 20px;
  padding-top: 7px;
  padding-bottom: 7px;
}
input,
.bg-gp-3-2 {
  margin-top: 10px;
}

.owm-P {
  margin-top: 15px;
  margin-bottom: 0px;
}

.owmlink {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 9pt;
}
.owmlink > a {
  color: rgb(158, 58, 1);
}
.social {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
}
.dev-gp-1,
.dev-gp-2 {
  display: flex;
  align-items: center;
}
.fa-star,
.fa-share-alt {
  margin-left: 20px;
}
.dev-gp-1 > label,
.dev-gp-2 > label {
  margin-left: 7px;
}

.dev-group {
  display: flex;
}
.dev-gp-2 > .fa-angle-right {
  position: absolute;
  right: 10px;
}
a {
  text-decoration: none;
  color: inherit;
}

.x-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: auto;
  height: 70px;
  padding-right: 10px;
}
@media screen and (max-width: 500px) {
  .x-menu {
    padding-top: 10px;
  }
}

.container-switch {
  display: flex;
  align-items: center;
  width: 40px;
  height: 20px;
  border-radius: 1em;
  background: #000;
  margin-right: 4px;
}
.switch {
  height: 22px;
  width: 22px;
  border-radius: 1em;
  background: #ffffff;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 5px #000;
}

.active-switch {
  transform: translateX(100%);
}
.inactive {
  background: #afafaf;
  /* box-shadow: none; */
}
.active-nav {
  transform: translateX(-1%);
}

input[type="text"] {
  position: absolute;
  right: 60px;
  top: 5px;
  width: 0;
  height: 35px;
  background: inherit;
  border: none;
  font-size: 1.5em;
  color: #fff;
  padding-left: 5px;
  transition: 0.3s ease-in-out;
  visibility: hidden;
}
input::placeholder {
  font-size: 1em;
  text-align: center;
}
input[type="text"]:focus {
  outline: none;
}
input[type="text"].active-search {
  visibility: visible;
  width: 200px;
}

.floatBtn {
  position: absolute;
  display: none;
  flex-direction: column;
  top: 495px;
  left: 248px;
  padding: 5px;
  width: 100px;
  z-index: -1;
  transition: 0.3s ease-in-out;
  transform: translateX(-100%);
}
@media screen and (max-width: 370px) {
  .floatBtn {
    width: 45px;
  }
}

.floatBtn > button {
  display: flex;
  height: 30px;
  align-items: center;
  outline: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
  padding-left: 7px;
}
.floatBtn > #fb-share {
  margin-bottom: 5px;
}
.floatBtn > #fb-share:hover {
  background: rgb(33, 54, 246);
  color: #fff;
}
.floatBtn > #tw-tweet:hover {
  background: rgb(42, 115, 250);
  color: #fff;
}

.floatBtn > #fb-share > p,
.floatBtn > #tw-tweet > p {
  font-size: 1em;
  margin-left: 5px;
}
@media screen and (max-width: 370px) {
  .floatBtn > #fb-share > p,
  .floatBtn > #tw-tweet > p {
    visibility: hidden;
  }

  button > i {
    font-size: 1.5em;
  }

  button {
    width: 35px;
  }
}
.share-on {
  transform: translateX(-1%);
}
